* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  margin-right: 10px;
  margin: 5px;
}
div {
  flex-wrap: nowrap;
}
.app-done {
  text-decoration: line-through;
}
